@using TipsAndTricks.Core.Contracts;
@using TipsAndTricks.Core.Entities;
@model TipsAndTricks.WebApp.Areas.Admin.Models.PostFilterModel

@{
    ViewData["PageTitle"] = "Quản lý bài viết";
    var postsList = ViewBag.PostsList as IPagedList<Post>;
}

<h1>
    Danh sách bài viết
</h1>

<partial name="_PostFilterPane" model=@Model />

@if (postsList != null && postsList.Count > 0) {
    <table class="table table-responsive table-striped">
        <thead>
            <tr class="row">
                <th class="col-8">Tiêu đề</th>
                <th class="col-1">Tác giả</th>
                <th class="col-1">Chủ đề</th>
                <th class="col-1">Xuất bản</th>
                <th class="col-1">Xóa</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in postsList) {
                <tr class="row">
                    <td class="col-8">
                        <a asp-area="Admin"
                   asp-controller="Posts"
                   asp-action="Edit"
                   asp-route-id="@post.Id"
                           class="text-bold">
                            @post.Title
                        </a>
                        <p class="text-muted">
                            @post.ShortDescription
                        </p>
                    </td>
                    <td class="col-1">
                        @post.Author.FullName
                    </td>
                    <td class="col-1">
                        @post.Category.Name
                    </td>
                    <td class="col-1">
                        @if (post.Published) {
                            <a asp-area="Admin"
                   asp-controller="Posts"
                   asp-action="ChangePostPublishedStatus"
                   asp-route-id=@post.Id
                               class="btn btn-primary">
                                Có
                            </a>
                        } else {
                            <a asp-area="Admin"
                   asp-controller="Posts"
                   asp-action="ChangePostPublishedStatus"
                   asp-route-id=@post.Id
                               class="btn btn-secondary"
                                onclick="confirmDelete(@post.Id)">
                                Không
                            </a>
                        }
                    </td>
                    <td class="col-1">
                        <a asp-area="Admin"
                            asp-controller="Posts"
                            asp-action="DeletePost"
                            asp-route-id=@post.Id
                            onclick="return confirm('Bạn có thực sự muốn xóa bài viết này không?')"
                            class="text-danger">
                            Xóa
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_Pager" model=@postsList />
} else {
    <h1 class="text-danger">
        Không tìm thấy bài viết nào
    </h1>
}