@using TipsAndTricks.Core.Contracts;
@using TipsAndTricks.Core.Entities;
@model TipsAndTricks.WebApp.Areas.Admin.Models.SubscriberFilterModel

@{
    ViewData["PageTitle"] = "Quản lý đăng ký theo dõi";
    var subscribersList = ViewBag.SubscribersList as IPagedList<Subscriber>;
}

<h1>
    Danh sách người đăng ký theo dõi
</h1>

<partial name="_SubscriberFilterPane" model=@Model />

@if (subscribersList != null && subscribersList.Count > 0) {
    <table class="table table-responsive table-striped">
        <thead>
            <tr class="row">
                <th class="col-2">Email</th>
                <th class="col-1">Trạng thái</th>
                <th class="col-2">Ngày đăng ký</th>
                <th class="col-2">Ngày hủy đăng ký</th>
                <th class="col-2">Lý do hủy đăng ký</th>
                <th class="col-2">Lý do chặn</th>
                <th class="col-1">Xóa</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var subscriber in subscribersList) {
                <tr class="row">
                    <td class="col-2">
                        <a asp-area="Admin"
                           asp-controller="Subscribers"
                           asp-action="Ban"
                           asp-route-id="@subscriber.Id"
                           class="text-bold">
                            @subscriber.Email
                        </a>
                    </td>
                    <td class="col-1">
                        @switch(subscriber.SubscribeState) {
                            case SubscribeState.Subscribe:
                                <span>Theo dõi</span>
                                break;
                            case SubscribeState.Unsubscribe:
                                <span>Hủy theo dõi</span>
                                break;
                            case SubscribeState.Banned:
                                <span>Bị chặn</span>
                                break;
                        }
                    </td>
                    <td class="col-2">
                        @subscriber.SubscribedDate.ToString("dd/MM/yyyy")
                    </td>
                    <td class="col-2">
                        @subscriber.UnsubscribedDate?.ToString("dd/MM/yyyy")
                    </td>
                    <td class="col-2">
                        @subscriber.Reason
                    </td>
                    <td class="col-2">
                        @subscriber.Notes
                    </td>
                    <td class="col-1">
                        <a asp-area="Admin"
                           asp-controller="Subscribers"
                           asp-action="DeleteSubscriber"
                           asp-route-id=@subscriber.Id
                           onclick="return confirm('Bạn có thực sự muốn xóa người theo dõi này không?')"
                           class="text-danger">
                            Xóa
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_Pager" model=@subscribersList />
} else {
    <h1 class="text-danger">
        Không tìm thấy người theo dõi nào
    </h1>
}