@model Post

@if (@Model.Comments.Count != 0) {
    <div class="mt-3">
        <h4>Bình luận (@Model.Comments.Count)</h4>
        @foreach (var comment in @Model.Comments) {
            <div class="mb-3 p-4 bg-secondary bg-opacity-10 border border-1 border-gray rounded">
                <div>
                    <span class="fs-6 fw-bold me-2">@comment.Name</span>
                    <span class="text-secondary fst-italic">@comment.PostedDate.ToString("dd/MM/yyyy")</span>
                </div>
                <p class="mb-0">@comment.Description</p>
            </div>
        }
    </div>
}